.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
*.idb
*.pdb

/vscode/
.vscode/launch.json
.vscode/extensions.json
.idea/

data/config.json

node_modules/
.DS_Store
Thumbs.db
*.log
/docs/
