# --- PlatformIO служебные файлы ---
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
*.idb
*.pdb

# --- Файлы сред разработки (VS Code / CLion) ---
.vscode/.browse.VC.db
.vscode/.cmake.api/
.vscode/.pins.json
# Не игнорируем сам extensions.json, но скрываем внутренний кэш
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
.idea/

# --- Файлы конфигурации и секретов (ОЧЕНЬ ВАЖНО) ---
include/secret.h
include/secrets.h
src/secret.h
src/secrets.h

# --- Логи и временные файлы системы ---
node_modules/
.DS_Store
Thumbs.db
*.log
